# Sentry
VITE_SENTRY_DSN=
VITE_SENTRY_ORG=
VITE_SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=

# Better Auth
BETTER_AUTH_URL=https://tanstack-demo.echoja.com
BETTER_AUTH_SECRET=

# Postgres database
DATABASE_URL=postgres://tanstack_demo:tanstack_demo@localhost:5432/tanstack_demo
